{{ header }}
<div id="information-information" class="container-fluid content-container">
  <div class="row breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
              <li class="font16"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="information-item-box information-first-item-box">
            <h3 class="information-title text-uppercase">About Us</h3>
            <p class="information-content font14">
              TianBaoTong Technology(iMuto Limited) was founded in 2007. We are a high-tech enterprise with global reach, primarily focusing on new energy, consumer electronics
              and brand operation, currently with over 500 employees.
              We have two consumer electronics brands: Photoolex and imuto. Photoolex runs photographic equipment, imuto runs power products.
              We aim to be an energetic, sustainable enterprise to create green and smart Iife for everybody.
              Our ompetitive advantages: Quick response to the market, Strict Quality Control, and Excellent Sales service.
            </p>
          </div>
          <div class="information-item-box">
            <h3 class="information-title text-uppercase">imuto - energy for your life</h3>
            <div class="information-paragraph">
              <h4 class="font16">
                "Affordable high quality approach" to provide best value
              </h4>
              <p class="font14">
                We eliminate all unnecessary middle layer and directly use online channel to reach our esteemed customer.
              </p>
            </div>
            <div class="information-paragraph">
              <h4 class="font16">
                "Less is more" design concept with more creative function
              </h4>
              <p class="font14">
                We use "less is more" ID design concept combining with more creative function to bring fashionable and practical products.
              </p>
            </div>
            <div class="information-paragraph">
              <h4 class="font16">
                "From the people, for the people" creating satisfaction
              </h4>
              <p class="font14">
                We abstract every valuable information from a user's perspective to make sure our products fulfill the needs for our customer.
              </p>
            </div>
            <div class="information-paragraph">
              <h4 class="font16">
                "Eco-friendly" for energetic life
              </h4>
              <p class="font14">
                We make sure every single component in our products from design to production has no harm for our environment to support our daily energetic life.
              </p>
            </div>
          </div>
          <div class="information-item-box">
            <h3 class="information-title text-uppercase">photoolex</h3>
            <div class="information-paragraph">
              <h4 class="font16">
                Accumulation
              </h4>
              <p class="font14">
                A professional photography equipment brand since 2010.
              </p>
            </div>
            <div class="information-paragraph">
              <h4 class="font16">
                Professionalism
              </h4>
              <p class="font14">
                Own plant with over 500 staff including 30 professionals dedicated to design and R&D.
              </p>
            </div>
            <div class="information-paragraph">
              <h4 class="font16">
                Amazing experience
              </h4>
              <p class="font14">
                Constantly committed to consumer experience with latest technology, supreme material and user-friendly design.
              </p>
            </div>
            <div class="information-paragraph">
              <h4 class="font16">
                Cost-effectiveness
              </h4>
              <p class="font14">
                Excellent in quality and reasonable in price, only for capturing your fascinating moments.
              </p>
            </div>
          </div>
          <div class="information-item-box">
            <h3 class="information-title text-uppercase">topturbo</h3>
            <div class="information-paragraph">
              <h4 class="font16">
                Accumulation
              </h4>
              <p class="font14">
                A professional photography equipment brand since 2010.
              </p>
            </div>
            <div class="information-paragraph">
              <h4 class="font16">
                Professionalism
              </h4>
              <p class="font14">
                Own plant with over 500 staff including 30 professionals dedicated to design and R&D.
              </p>
            </div>
            <div class="information-paragraph">
              <h4 class="font16">
                Amazing experience
              </h4>
              <p class="font14">
                Constantly committed to consumer experience with latest technology, supreme material and user-friendly design.
              </p>
            </div>
            <div class="information-paragraph">
              <h4 class="font16">
                Cost-effectiveness
              </h4>
              <p class="font14">
                Excellent in quality and reasonable in price, only for capturing your fascinating moments.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}