{{ header }}
<div id="information-information" class="container-fluid content-container">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="information-item-box">
                        <h3 class="information-title text-uppercase font24" style="text-decoration:underline;">TERMS AND CONDITIONS OF SITE USER</h3>
                        <p>
                            This imuto Terms and Conditions document (the Agreement) is a legal contract between the subscriber organization or individual (Subscriber) identified in an imuto order form (Order Form), and imuto, Inc. (imuto), that governs your use of imuto's online style services (and the applications available thereon) available at www.imuto.com (Site). Your acceptance of the Order Form constitutes an application to subscribe to the Site pursuant to the terms of this Agreement, and by clicking the "I agree" button, accessing or using the Site; you confirm your agreement to be bound hereby.<br/><br/>

If you are entering into this Agreement on behalf of an organization, you represent and warrant that you have the authority to bind such organization. Any person who has access to the Site by virtue of being designated by the Subscriber as an individual user of the Site (an Authorized User) similarly agrees to be bound hereby. If you are entering into this Agreement on behalf of an educational institution, then your Authorized Users are strictly limited to students, faculty and staff; no alumni may be granted access.<br/><br/>

All references to "us," "our" and "imuto" in this Agreement are intended to refer to imuto (as defined above) and its affiliates. All references to "you," "your" and "user" in this Agreement are intended to refer to the Subscriber and all Authorized Users.<br/><br/>

1. USE OF SITE <br/><br/>
(a) imuto grants you a non-exclusive, non-transferable, limited right to access the Site, provided that you fully comply with the terms and conditions of this Agreement.<br/><br/>

(b) You agree that all you will use data, materials and information that comprise the Site, including visual interfaces, text and written compositions, videos and other audiovisual works, pictorial works such as images, photographs, graphics, pictures, illustrations, and designs, audio recordings and musical compositions, compilations, and any other works of authorship (Content) that you access through use of the Site, only in accordance with the terms and conditions of this Agreement.<br/><br/>

(c) Certain areas of the Site may only be open to you if you are a full subscriber or will only be available for a limited period of time. Any time limit applying to your access and use of the Site will be set out in the Order Form.<br/><br/>

(d) Certain Content that we license from third parties may be subject to additional guidelines or rules that will be clearly posted on the Site. You are also subject to any such guidelines and rules.<br/><br/>

(e) The Content is protected by trademarks, service marks, copyrights, and other intellectual property rights owned by imuto or its Content providers. You agree not to misuse in any way the Content or the Site, including any infringement of trademarks, service marks, copyrights or other intellectual property rights in the Content or the Site.<br/><br/>
 
(f) You agree not to use the Site for any illegal, unethical, fraudulent, misleading, or objectionable purpose or in breach of any law, regulation, or agreement, including CAN-SPAM or other regulations regarding unsolicited email marketing.<br/><br/>

(g) You agree not to rent, lease, loan, sell, or otherwise provide access to the Site to anyone other than Subscriber and Authorized Users.<br/><br/>

2. CHANGES TO SITE<br/><br/>

As part of its policy of updating and improving the Site, imuto reserves the right, at its discretion, to make changes to any part of the Site.<br/><br/>
 

3. REGISTRATION<br/><br/>

(a) The Subscriber warrants that the information the Subscriber has given in the Form is accurate and complete.<br/><br/>

(b) To use the Site, you must register and provide imuto with accurate and complete registration information.<br/><br/>

(c) It is your responsibility to update your registration data and promptly inform imuto of any changes to your information by e-mailing imuto at support@imuto.com.
<br/><br/>
(d) As part of the registration process, imuto shall assign to the Subscriber or, at the discretion of imuto, shall allow the Subscriber to select, a user name and password. Each registration is for a single user only.<br/><br/>

(e) Each additional Authorized User appointed by the Subscriber shall be assigned (or selected at the discretion of imuto) a separate user name and password for access to the Site; provided, however, that for educational institutions, Authorized Users are not required to register individually.<br/><br/>

(f) imuto does not permit any sharing by more than one person of a user name and password or access to the Site through a single name being made available to multiple users on a network; provided, however, that the foregoing restriction does not apply to educational situations.<br/><br/>

solely responsible for maintaining the confidentiality and security of your account. You agree to notify imuto immediately of any unauthorized use of your user name and password.<br/><br/>



4. USAGE OF CONTENT<br/><br/>

If you are a full subscriber, in connection with your use of the Site, and subject to the limitations set forth below, imuto hereby grants you a non-exclusive, non-transferable, limited license to do the following, solely for your product design, development, inspiration, research and manufacturing purposes: view, download and print such Content and create derivative works of pictorial works such as images, photographs, graphics, pictures, illustrations, and designs included within the Content and use such works and your derivative works thereof on or in your products; provided, however, that in the case of subscribing educational institutions and their Authorized Users, your use is limited to non-commercial, educational use only.<br/><br/>


(a) The following are strictly forbidden and represent a breach of this Agreement, unless prior written consent is obtained from imuto or the relevant third party Content provider:<br/><br/>

(i) incorporation of Content in promotional items (including greeting cards, t-shirts, postcards, posters, phone cards, credit cards, templates, CD covers, cassette covers, board games, and calendars), magazines, newspapers, advertising, editorials, catalogs, flyers, brochures, disposable packaging, book covers, and educational textbooks;<br/><br/>

(ii) incorporation of Content in any electronic or digital materials including screensavers, electronic greeting cards, websites, broadcast video, and multimedia including film and video, and CD ROMs;<br/><br/>

(iii) resale of Content in its original condition or in a digitally manipulated form;<br/><br/>

(iv) incorporation of names or likenesses of individuals from Content on or in your products;<br/><br/>

(v) incorporation of distinctive locations, buildings, businesses, personal property or products from Content on or in your products;<br/><br/>

 
5. YOUR CONTENT<br/><br/>

(a) You are solely responsible for any Content that you upload to the Site or transmit through the Site, and you represent, warrant and agree that:<br/><br/>

(i) such Content will not be unlawful, harmful, threatening, harassing, defamatory, obscene, pornographic, vulgar, invasive of another's privacy or right of publicity, infringing of a third party's intellectual property rights;<br/><br/>

(ii) such Content will not be hateful, racially, ethnically, or otherwise objectionable, encouraging of conduct that could constitute a criminal offense, give rise to civil liability, or otherwise violate any applicable local, state, national, or international law;<br/><br/>
 

(vii) interfere with or disrupt (or attempt to interfere with or disrupt) the Site or servers or networks connected to the Site, or disobey any requirements, procedures, policies or regulations of networks connected to the Site;<br/><br/>

(viii) provide any information to imuto that is false or misleading, that attempts to hide your identity or that you do not have the right to disclose.<br/><br/>

(b) However, you agree that imuto will not be responsible for screening, policing, editing or monitoring any Content posted, viewed, transmitted, reproduced and/or distributed by any person using the Site.<br/><br/>

(c) Your sharing of your Content constitutes permission for use by the recipient according to the terms of this Agreement.<br/><br/>


6. TECHNOLOGY<br/><br/>

You acknowledge that the software, inventions, know-how, databases, data compilations, methods, processes, designs and architecture underlying the Site (Technology) are protected by intellectual property rights. You agree that you will not (and will not allow any third parties to):<br/><br/>

(a) use any device, robot, spider, other automatic software or device, or any manual process, to interfere or attempt to interfere with the proper working of the Site, or to monitor use of the Site, without imuto' prior written permission;<br/><br/>
 

(b) take any action that imposes an unreasonable or disproportionately large load on the Site infrastructure;<br/><br/>

(c) decompile, disassemble, or otherwise reverse engineer or attempt to reconstruct or discover any source code or underlying ideas or algorithms or file formats or programming or interoperability interfaces of the Technology (except that the foregoing restrictions shall only apply to the extent they are allowable under applicable law);<br/><br/>


7. DISCLAIMERS<br/><br/>

THE SITE, INCLUDING CONTENT, IS PROVIDED "AS IS", WITHOUT WARRANTY OR ANY KIND, EITHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING ANY WARRANTY REGARDING CONTENT, SERVICES, UNINTERRUPTED ACCESS, PRODUCTS PROVIDED THROUGH OR IN CONNECTION WITH THE SITE, RESULTS OF USE OF THE SITE OR ANY SOFTWARE LICENSED TO YOU , OR THE AVAILABILITY OR ACCURACY THEREOF. SPECIFICALLY, imuto DISCLAIMS ANY WARRANTIES OF TITLE, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. USE OF THE SITE IS ENTIRELY AT YOUR OWN RISK.<br/><br/>
 
8. LIMITATIONS OF LIABILITY<br/><br/>

(a) imuto will not be liable to you in any manner whatsoever for any consequences of any delay or interruption in the delivery or updating of the Site.<br/><br/>

(b) The Site may contain advertising or sponsorships from time to time. imuto is not responsible for the material provided by such advertisers and sponsors. Further, imuto provides no assurances that it will not take advertisements or sponsorships from competitors of Subscriber. Your correspondence or business dealings with, participation in promotions of, or access, purchase, or utilization of products or services offered by such advertisers or sponsors are solely between you and such third party.<br/><br/>
 

9. MODIFICATIONS TO TERMS AND CONDITIONS<br/><br/>

(a) imuto reserves the right to modify the terms and conditions of this Agreement (including those relating to your use of the Content). Any modification is effective 30 days after upon posting to the Site or immediately upon distribution to Subscriber via e-mail or conventional mail.<br/><br/>

(b) Your continued use of the Site following the effective date of notice of any modification(s) to this Agreement shall be deemed an acceptance of all such modifications.<br/><br/>
 

(c) Notwithstanding the foregoing, any modifications that have a material negative impact on you, other than modifications imposed on us by Content providers, shall not be effective until the end of the term of the then- current Order Form.<br/><br/>
 

10. TERM OF AGREEMENT; TERMINATION<br/><br/>

(a) This Agreement shall commence on the date on which imuto accepts your application to subscribe to the Site and from which date the Subscriber and Authorized Users shall have access to the Site. The Agreement shall continue for the period set forth in the Order Form and any renewals thereof. Further, if imuto in its sole discretion permits you to continue to use the Site following expiration of the Order Form, the terms and conditions of this Agreement shall continue to apply.<br/><br/>

(b) Notwithstanding the above, imuto may terminate this Agreement or suspend your account at any time in the event that you have materially breached (or imuto reasonably suspects that you have materially breached) any provision of this Agreement. At imuto's option, termination shall be effective after a reasonable cure period.<br/><br/>
 
11. GENERAL PROVISIONS<br/><br/>

(a) Governing Law; Disputes. The interpretation and enforcement of this Agreement shall be governed by the laws of the State of New York (excluding its choice of law rules). You agree that any claim or dispute you may have against imuto must be resolved by a court located in New York, NY.<br/><br/>
 

(b) International Use. You agree to comply with all local rules of your country regarding online Conduct and acceptable Content. Please note that information published on this Site may refer to products, programs or services that are not available in your country.<br/><br/>

(c) Severability. If any term or provision of this Agreement shall be held to be invalid, illegal or unenforceable, the validity, legality or enforceability of the remaining terms or provisions shall not be affected.<br/><br/>
 

12. PRIVACY POLICY<br/><br/>

Please review our Privacy Policy posted on the Site to understand our practices http://www.imuto.com/aboutus/privacy.html. You agree that the Privacy Policy is incorporated in this Agreement.<br/><br/>



13. CONTACT INFORMATION<br/><br/>

Any feedback, comments, requests for technical support or other communications should be directed to imuto customer service through support@imuto.com.<br/><br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}