{{ header }}
<div id="information-information" class="container-fluid content-container">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="information-item-box information-first-item-box">
            <h2 class="information-title">{{ heading_title }}</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{ description }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}